<div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
</div>