{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.

  Replace Text Example:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles'  }}
    </div>

  More information:
   - http://docs.shopify.com/themes/liquid-variables/paginate

{% endcomment %}

  <div class="sixteen columns">
    <div class="section clearfix">
      <div class="paginate">
        {% if paginate.pages > 1 %}
          {{ paginate | default_pagination | replace: '&raquo;', '<span class="icon-right-arrow"></span>' | replace: '&laquo;', '<span class="icon-left-arrow"></span>' }}
        {% endif %}
      </div>
    </div>
  </div>