{% include 'include-contact-form' %}

{% schema %}

{
  "name": "Contact form",
  "class": "contact-section",
  "settings": [
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Heading",
      "default": "Contact form"
    },
    {
      "type": "text",
      "id": "contact_subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "richtext",
      "id": "contact_content",
      "label": "Text",
      "default": "<p>Contact form description.</p>"
    },
    {
      "type": "select",
      "id": "contact_text_position",
      "label": "Text position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "contact_text_alignment",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact form",
      "category": "Social"
    }
  ]
}

{% endschema %}
